<!DOCTYPE html>
<html lang="en">
<head>
    <title>{%block title %} My site {% endblock%}</title>
</head>
<body>
    {% if user.is_authenticated %}
    <p>Welcome {{ user.username }}</p>
    <form action="{% url 'accounts:logout' %}", method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    {% else %}
    <p><a href="{% url 'accounts:login' %}">Login</a> | <a href="{% url 'accounts:register' %}">Register</a></p>
    {% endif %}
    {% block content %}
    {% endblock %}
</body>
</html>